name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  plugin_test:
    name: asdf plugin test
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v3
        with:
          command: |
            keep-sorted --help
            EXIT_CODE=$?
            if [ $EXIT_CODE -eq 2 ]; then
              echo "Command 'keep-sorted --help' exited with code 2 as expected. Marking as success."
              exit 0
            else
              echo "Command 'keep-sorted --help' exited with code $EXIT_CODE, but expected 2. Marking as failure."
              exit 1
            fi
